# Feature Engineering (Data Preprocessing)

In [1]:
from warnings import filterwarnings
filterwarnings('ignore')

In [2]:
import os
os.chdir('C:/Datasets/')

In [3]:
import pandas as pd
df = pd.read_csv('Cars93.csv')
df.head()

,id,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,1,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,4,Audi,100,Midsize,30.8,37.7,44.6,19,26,NaN,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,5,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  93 non-null     int64
 1   Manufacturer        93 non-null     object
 2   Model               93 non-null     object
 3   Type                93 non-null     object
 4   Min.Price           93 non-null     float64
 5   Price               93 non-null     float64
 6   Max.Price           93 non-null     float64
 7   MPG.city            93 non-null     int64
 8   MPG.highway         93 non-null     int64
 9   AirBags             89 non-null     object
 10  DriveTrain          93 non-null     object
 11  Cylinders           93 non-null     object
 12  EngineSize          93 non-null     float64
 13  Horsepower          93 non-null     int64
 14  RPM                 93 non-null     int64
 15  Rev.per.mile        93 non-null     int64
 16  Man.trans.avail     93 non-null     object
 17  Fuel.tank.capacity  93 non-null     float64
 18  Passengers          93 non-null     int64
 19  Length              93 non-null     int64
 20  Wheelbase           93 non-null     int64
 21  Width               93 non-null     int64
 22  Turn.circle         93 non-null     int64
 23  Rear.seat.room      91 non-null     float64
 24  Luggage.room        82 non-null     float64
 25  Weight              93 non-null     int64
 26  Origin              93 non-null     object
 27  Make                93 non-null     object
dtypes: float64(7), int64(12), object(9)
memory usage: 20.5+ KB

## check missing value

In [5]:
s = df.isna().sum()
s

id                     0
Manufacturer           0
Model                  0
Type                   0
Min.Price              0
Price                  0
Max.Price              0
MPG.city               0
MPG.highway            0
AirBags                4
DriveTrain             0
Cylinders              0
EngineSize             0
Horsepower             0
RPM                    0
Rev.per.mile           0
Man.trans.avail        0
Fuel.tank.capacity     0
Passengers             0
Length                 0
Wheelbase              0
Width                  0
Turn.circle            0
Rear.seat.room         2
Luggage.room          11
Weight                 0
Origin                 0
Make                   0
dtype: int64

In [6]:
s[s>0]

AirBags            4
Rear.seat.room     2
Luggage.room      11
dtype: int64

## Seperate categorical and continuous features

In [7]:
df.columns

Index(['id', 'Manufacturer', 'Model', 'Type', 'Min.Price', 'Price',
       'Max.Price', 'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain',
       'Cylinders', 'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile',
       'Man.trans.avail', 'Fuel.tank.capacity', 'Passengers', 'Length',
       'Wheelbase', 'Width', 'Turn.circle', 'Rear.seat.room', 'Luggage.room',
       'Weight', 'Origin', 'Make'],
      dtype='object')

In [8]:
df.dtypes

id                      int64
Manufacturer           object
Model                  object
Type                   object
Min.Price             float64
Price                 float64
Max.Price             float64
MPG.city                int64
MPG.highway             int64
AirBags                object
DriveTrain             object
Cylinders              object
EngineSize            float64
Horsepower              int64
RPM                     int64
Rev.per.mile            int64
Man.trans.avail        object
Fuel.tank.capacity    float64
Passengers              int64
Length                  int64
Wheelbase               int64
Width                   int64
Turn.circle             int64
Rear.seat.room        float64
Luggage.room          float64
Weight                  int64
Origin                 object
Make                   object
dtype: object

In [9]:
# Categorical Features
df.columns[df.dtypes=='object']

Index(['Manufacturer', 'Model', 'Type', 'AirBags', 'DriveTrain', 'Cylinders',
       'Man.trans.avail', 'Origin', 'Make'],
      dtype='object')

In [10]:
# Continous Features
df.columns[df.dtypes!='object']

Index(['id', 'Min.Price', 'Price', 'Max.Price', 'MPG.city', 'MPG.highway',
       'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Fuel.tank.capacity',
       'Passengers', 'Length', 'Wheelbase', 'Width', 'Turn.circle',
       'Rear.seat.room', 'Luggage.room', 'Weight'],
      dtype='object')

In [11]:
def catconsep(df):
    cat = list(df.columns[df.dtypes=='object'])
    con = list(df.columns[df.dtypes!='object'])
    return cat,con

## Restart and Run All cell

## Importing catconsep from PM7

In [12]:
from PM7 import catconsep

In [13]:
cat, con = catconsep(df)

In [14]:
cat

['Manufacturer',
 'Model',
 'Type',
 'AirBags',
 'DriveTrain',
 'Cylinders',
 'Man.trans.avail',
 'Origin',
 'Make']

In [15]:
con

['id',
 'Min.Price',
 'Price',
 'Max.Price',
 'MPG.city',
 'MPG.highway',
 'EngineSize',
 'Horsepower',
 'RPM',
 'Rev.per.mile',
 'Fuel.tank.capacity',
 'Passengers',
 'Length',
 'Wheelbase',
 'Width',
 'Turn.circle',
 'Rear.seat.room',
 'Luggage.room',
 'Weight']

 ### Replace missing value
 1. Categorical Features - Mode (Most Frequently Occuring Values)
 2. Continous Features - Mean, Median
 3. df[column_name]=df[column_name].fillna(values)

In [16]:
s[s>0]

AirBags            4
Rear.seat.room     2
Luggage.room      11
dtype: int64

In [17]:
df[df['AirBags'].isna()]

,id,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
3,4,Audi,100,Midsize,30.8,37.7,44.6,19,26,NaN,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
21,22,Chrysler,Imperial,Large,29.5,29.5,29.5,20,26,NaN,...,6,203,110,69,44,36.0,17.0,3570,USA,Chrysler Imperial
45,46,Hyundai,Scoupe,Sporty,9.1,10.0,11.0,26,34,NaN,...,4,166,94,64,34,23.5,9.0,2285,non-USA,Hyundai Scoupe
51,52,Lincoln,Town_Car,Large,34.4,36.1,37.8,18,26,NaN,...,6,219,117,77,45,31.5,22.0,4055,USA,Lincoln Town_Car

In [18]:
df['AirBags'].value_counts()

Driver only           42
None                  33
Driver & Passenger    14
Name: AirBags, dtype: int64

In [19]:
md = df['AirBags'].mode()[0]
md

'Driver only'

In [20]:
df['AirBags']=df['AirBags'].fillna(md)

In [21]:
df.isna().sum()

id                     0
Manufacturer           0
Model                  0
Type                   0
Min.Price              0
Price                  0
Max.Price              0
MPG.city               0
MPG.highway            0
AirBags                0
DriveTrain             0
Cylinders              0
EngineSize             0
Horsepower             0
RPM                    0
Rev.per.mile           0
Man.trans.avail        0
Fuel.tank.capacity     0
Passengers             0
Length                 0
Wheelbase              0
Width                  0
Turn.circle            0
Rear.seat.room         2
Luggage.room          11
Weight                 0
Origin                 0
Make                   0
dtype: int64

In [22]:
mn = df['Rear.seat.room'].mean()
mn

27.82967032967033

## Create a Function Replacer to replace missing values

In [23]:
def replacer(df):
    cat, con = catconsep(df)
    for i in df.columns:
        if i in cat:
            md = df[i].mode()[0]
            df[i]=df[i].fillna(md)
            
        else:
            mn = df[i].mean()
            df[i]=df[i].fillna(mn)
    print('Missing values Replaced')

## Before importing function restart and run all cells

In [24]:
from PM7 import replacer

In [25]:
replacer(df)

Missing values Replaced

In [26]:
df.isna().sum()

id                    0
Manufacturer          0
Model                 0
Type                  0
Min.Price             0
Price                 0
Max.Price             0
MPG.city              0
MPG.highway           0
AirBags               0
DriveTrain            0
Cylinders             0
EngineSize            0
Horsepower            0
RPM                   0
Rev.per.mile          0
Man.trans.avail       0
Fuel.tank.capacity    0
Passengers            0
Length                0
Wheelbase             0
Width                 0
Turn.circle           0
Rear.seat.room        0
Luggage.room          0
Weight                0
Origin                0
Make                  0
dtype: int64

## Saving the Replace value file to csv

In [27]:
df.to_csv('cars93_cleaned.csv',index=False)

## Text Preprocessing
1. Label Encoder/Ordinal Encoder
2. One Hot Encoder(Preffered)

In [28]:
cat

['Manufacturer',
 'Model',
 'Type',
 'AirBags',
 'DriveTrain',
 'Cylinders',
 'Man.trans.avail',
 'Origin',
 'Make']

In [29]:
con

['id',
 'Min.Price',
 'Price',
 'Max.Price',
 'MPG.city',
 'MPG.highway',
 'EngineSize',
 'Horsepower',
 'RPM',
 'Rev.per.mile',
 'Fuel.tank.capacity',
 'Passengers',
 'Length',
 'Wheelbase',
 'Width',
 'Turn.circle',
 'Rear.seat.room',
 'Luggage.room',
 'Weight']

## Weight ~ Remaining Features
Seperate X and Y (Weight)

In [30]:
X = df.drop(columns=['id','Weight'])
Y = df[['Weight']]

In [31]:
X.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,Front,...,13.2,5,177,102,68,37,26.5,11.0,non-USA,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,18.0,5,195,115,71,38,30.0,15.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,16.9,5,180,102,67,37,28.0,14.0,non-USA,Audi 90
3,Audi,100,Midsize,30.8,37.7,44.6,19,26,Driver only,Front,...,21.1,6,193,106,70,37,31.0,17.0,non-USA,Audi 100
4,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,Rear,...,21.1,4,186,109,69,39,27.0,13.0,non-USA,BMW 535i

In [32]:
Y.head()

   Weight
0    2705
1    3560
2    3375
3    3405
4    3640

## One Hot Encoder in Text Columns

In [33]:
%pip install sklearn scikit-learn --upgrade -- user

Collecting sklearn
  Using cached sklearn-0.0.post12.tar.gz (2.6 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'error'
Note: you may need to restart the kernel to use updated packages.

  error: subprocess-exited-with-error

  python setup.py egg_info did not run successfully.
  exit code: 1

  [15 lines of output]
  The 'sklearn' PyPI package is deprecated, use 'scikit-learn'
  rather than 'sklearn' for pip commands.

  Here is how to fix this error in the main use cases:
  - use 'pip install scikit-learn' rather than 'pip install sklearn'
  - replace 'sklearn' by 'scikit-learn' in your pip requirements files
    (requirements.txt, setup.py, setup.cfg, Pipfile, etc ...)
  - if the 'sklearn' package is used by one of your dependencies,
    it would be great if you take some time to track which package uses
    'sklearn' instead of 'scikit-learn' and report it to their issue tracker
  - as a last resort, set the environment variable
    SKLEARN_ALLOW_DEPRECATED_SKLEARN_PACKAGE_INSTALL=True to avoid this error

  More information is available at
  https://github.com/scikit-learn/sklearn-pypi-package
  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: metadata-generation-failed

Encountered error while generating package metadata.

See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.

## Restart Kernel and Run all cells

In [34]:
from PM7 import catconsep

In [35]:
cat, con = catconsep(X)

In [36]:
cat

['Manufacturer',
 'Model',
 'Type',
 'AirBags',
 'DriveTrain',
 'Cylinders',
 'Man.trans.avail',
 'Origin',
 'Make']

In [37]:
con

['Min.Price',
 'Price',
 'Max.Price',
 'MPG.city',
 'MPG.highway',
 'EngineSize',
 'Horsepower',
 'RPM',
 'Rev.per.mile',
 'Fuel.tank.capacity',
 'Passengers',
 'Length',
 'Wheelbase',
 'Width',
 'Turn.circle',
 'Rear.seat.room',
 'Luggage.room']

## Seperate Categorical Continous Features

In [38]:
x_cat = X[cat]
x_cat

,Manufacturer,Model,Type,AirBags,DriveTrain,Cylinders,Man.trans.avail,Origin,Make
0,Acura,Integra,Small,None,Front,4,Yes,non-USA,Acura Integra
1,Acura,Legend,Midsize,Driver & Passenger,Front,6,Yes,non-USA,Acura Legend
2,Audi,90,Compact,Driver only,Front,6,Yes,non-USA,Audi 90
3,Audi,100,Midsize,Driver only,Front,6,Yes,non-USA,Audi 100
4,BMW,535i,Midsize,Driver only,Rear,4,Yes,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,None,Front,5,Yes,non-USA,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,None,Front,4,Yes,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,None,Front,6,Yes,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,Driver only,Rear,4,Yes,non-USA,Volvo 240
92,Volvo,850,Midsize,Driver & Passenger,Front,5,Yes,non-USA,Volvo 850

In [39]:
x_cat['Cylinders'].unique()

array(['4', '6', '8', '3', 'rotary', '5'], dtype=object)

In [40]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
x_cat_pre = ohe.fit_transform(x_cat).toarray()
x_cat_pre

array([[1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [41]:
cols_cat = ohe.get_feature_names_out()
cols_cat

array(['Manufacturer_Acura', 'Manufacturer_Audi', 'Manufacturer_BMW',
       'Manufacturer_Buick', 'Manufacturer_Cadillac',
       'Manufacturer_Chevrolet', 'Manufacturer_Chrylser',
       'Manufacturer_Chrysler', 'Manufacturer_Dodge',
       'Manufacturer_Eagle', 'Manufacturer_Ford', 'Manufacturer_Geo',
       'Manufacturer_Honda', 'Manufacturer_Hyundai',
       'Manufacturer_Infiniti', 'Manufacturer_Lexus',
       'Manufacturer_Lincoln', 'Manufacturer_Mazda',
       'Manufacturer_Mercedes-Benz', 'Manufacturer_Mercury',
       'Manufacturer_Mitsubishi', 'Manufacturer_Nissan',
       'Manufacturer_Oldsmobile', 'Manufacturer_Plymouth',
       'Manufacturer_Pontiac', 'Manufacturer_Saab', 'Manufacturer_Saturn',
       'Manufacturer_Subaru', 'Manufacturer_Suzuki',
       'Manufacturer_Toyota', 'Manufacturer_Volkswagen',
       'Manufacturer_Volvo', 'Model_100', 'Model_190E', 'Model_240',
       'Model_300E', 'Model_323', 'Model_535i', 'Model_626', 'Model_850',
       'Model_90', 'Model_900', 'Model_Accord', 'Model_Achieva',
       'Model_Aerostar', 'Model_Altima', 'Model_Astro',
       'Model_Bonneville', 'Model_Camaro', 'Model_Camry', 'Model_Capri',
       'Model_Caprice', 'Model_Caravan', 'Model_Cavalier', 'Model_Celica',
       'Model_Century', 'Model_Civic', 'Model_Colt', 'Model_Concorde',
       'Model_Continental', 'Model_Corrado', 'Model_Corsica',
       'Model_Corvette', 'Model_Cougar', 'Model_Crown_Victoria',
       'Model_Cutlass_Ciera', 'Model_DeVille', 'Model_Diamante',
       'Model_Dynasty', 'Model_ES300', 'Model_Eighty-Eight',
       'Model_Elantra', 'Model_Escort', 'Model_Eurovan', 'Model_Excel',
       'Model_Festiva', 'Model_Firebird', 'Model_Fox', 'Model_Grand_Prix',
       'Model_Imperial', 'Model_Integra', 'Model_Justy', 'Model_Laser',
       'Model_LeBaron', 'Model_LeMans', 'Model_LeSabre', 'Model_Legacy',
       'Model_Legend', 'Model_Loyale', 'Model_Lumina', 'Model_Lumina_APV',
       'Model_MPV', 'Model_Maxima', 'Model_Metro', 'Model_Mirage',
       'Model_Mustang', 'Model_Passat', 'Model_Prelude', 'Model_Previa',
       'Model_Probe', 'Model_Protege', 'Model_Q45', 'Model_Quest',
       'Model_RX-7', 'Model_Riviera', 'Model_Roadmaster', 'Model_SC300',
       'Model_SL', 'Model_Scoupe', 'Model_Sentra', 'Model_Seville',
       'Model_Shadow', 'Model_Silhouette', 'Model_Sonata', 'Model_Spirit',
       'Model_Stealth', 'Model_Storm', 'Model_Summit', 'Model_Sunbird',
       'Model_Swift', 'Model_Taurus', 'Model_Tempo', 'Model_Tercel',
       'Model_Town_Car', 'Model_Vision', 'Type_Compact', 'Type_Large',
       'Type_Midsize', 'Type_Small', 'Type_Sporty', 'Type_Van',
       'AirBags_Driver & Passenger', 'AirBags_Driver only',
       'AirBags_None', 'DriveTrain_4WD', 'DriveTrain_Front',
       'DriveTrain_Rear', 'Cylinders_3', 'Cylinders_4', 'Cylinders_5',
       'Cylinders_6', 'Cylinders_8', 'Cylinders_rotary',
       'Man.trans.avail_No', 'Man.trans.avail_Yes', 'Origin_USA',
       'Origin_non-USA', 'Make_Acura Integra', 'Make_Acura Legend',
       'Make_Audi 100', 'Make_Audi 90', 'Make_BMW 535i',
       'Make_Buick Century', 'Make_Buick LeSabre', 'Make_Buick Riviera',
       'Make_Buick Roadmaster', 'Make_Cadillac DeVille',
       'Make_Cadillac Seville', 'Make_Chevrolet Astro',
       'Make_Chevrolet Camaro', 'Make_Chevrolet Caprice',
       'Make_Chevrolet Cavalier', 'Make_Chevrolet Corsica',
       'Make_Chevrolet Corvette', 'Make_Chevrolet Lumina',
       'Make_Chevrolet Lumina_APV', 'Make_Chrylser Concorde',
       'Make_Chrysler Imperial', 'Make_Chrysler LeBaron',
       'Make_Dodge Caravan', 'Make_Dodge Colt', 'Make_Dodge Dynasty',
       'Make_Dodge Shadow', 'Make_Dodge Spirit', 'Make_Dodge Stealth',
       'Make_Eagle Summit', 'Make_Eagle Vision', 'Make_Ford Aerostar',
       'Make_Ford Crown_Victoria', 'Make_Ford Escort',
       'Make_Ford Festiva', 'Make_Ford Mustang', 'Make_Ford Probe',
       'Make_Ford Taurus', 'Make_Ford Tempo', 'Make_Geo Metro',
       'Make_Geo Storm', 'Make_Honda Accord', 'Make_Honda Civic',
       'Make_Honda Prelude', 'Make_Hyundai Elantra', 'Make_Hyundai Excel',
       'Make_Hyundai Scoupe', 'Make_Hyundai Sonata', 'Make_Infiniti Q45',
       'Make_Lexus ES300', 'Make_Lexus SC300', 'Make_Lincoln Continental',
       'Make_Lincoln Town_Car', 'Make_Mazda 323', 'Make_Mazda 626',
       'Make_Mazda MPV', 'Make_Mazda Protege', 'Make_Mazda RX-7',
       'Make_Mercedes-Benz 190E', 'Make_Mercedes-Benz 300E',
       'Make_Mercury Capri', 'Make_Mercury Cougar',
       'Make_Mitsubishi Diamante', 'Make_Mitsubishi Mirage',
       'Make_Nissan Altima', 'Make_Nissan Maxima', 'Make_Nissan Quest',
       'Make_Nissan Sentra', 'Make_Oldsmobile Achieva',
       'Make_Oldsmobile Cutlass_Ciera', 'Make_Oldsmobile Eighty-Eight',
       'Make_Oldsmobile Silhouette', 'Make_Plymouth Laser',
       'Make_Pontiac Bonneville', 'Make_Pontiac Firebird',
       'Make_Pontiac Grand_Prix', 'Make_Pontiac LeMans',
       'Make_Pontiac Sunbird', 'Make_Saab 900', 'Make_Saturn SL',
       'Make_Subaru Justy', 'Make_Subaru Legacy', 'Make_Subaru Loyale',
       'Make_Suzuki Swift', 'Make_Toyota Camry', 'Make_Toyota Celica',
       'Make_Toyota Previa', 'Make_Toyota Tercel',
       'Make_Volkswagen Corrado', 'Make_Volkswagen Eurovan',
       'Make_Volkswagen Fox', 'Make_Volkswagen Passat', 'Make_Volvo 240',
       'Make_Volvo 850'], dtype=object)

In [42]:
x_cat_pre = pd.DataFrame(x_cat_pre,columns=cols_cat)
x_cat_pre.head()

,Manufacturer_Acura,Manufacturer_Audi,Manufacturer_BMW,Manufacturer_Buick,Manufacturer_Cadillac,Manufacturer_Chevrolet,Manufacturer_Chrylser,Manufacturer_Chrysler,Manufacturer_Dodge,Manufacturer_Eagle,...,Make_Toyota Camry,Make_Toyota Celica,Make_Toyota Previa,Make_Toyota Tercel,Make_Volkswagen Corrado,Make_Volkswagen Eurovan,Make_Volkswagen Fox,Make_Volkswagen Passat,Make_Volvo 240,Make_Volvo 850
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [43]:
x_cat_pre.to_csv('Cars90Categorical2.csv',index=False)

## Apply Standard Scaler on Preprocessor

In [44]:
x_con = X[con]
x_con

,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room
0,12.9,15.9,18.8,25,31,1.8,140,6300,2890,13.2,5,177,102,68,37,26.5,11.000000
1,29.2,33.9,38.7,18,25,3.2,200,5500,2335,18.0,5,195,115,71,38,30.0,15.000000
2,25.9,29.1,32.3,20,26,2.8,172,5500,2280,16.9,5,180,102,67,37,28.0,14.000000
3,30.8,37.7,44.6,19,26,2.8,172,5500,2535,21.1,6,193,106,70,37,31.0,17.000000
4,23.7,30.0,36.2,22,30,3.5,208,5700,2545,21.1,4,186,109,69,39,27.0,13.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,16.6,19.7,22.7,17,21,2.5,109,4500,2915,21.1,7,187,115,72,38,34.0,13.890244
89,17.6,20.0,22.4,21,30,2.0,134,5800,2685,18.5,5,180,103,67,35,31.5,14.000000
90,22.9,23.3,23.7,18,25,2.8,178,5800,2385,18.5,4,159,97,66,36,26.0,15.000000
91,21.8,22.7,23.5,21,28,2.3,114,5400,2215,15.8,5,190,104,67,37,29.5,14.000000
92,24.8,26.7,28.5,20,28,2.4,168,6200,2310,19.3,5,184,105,69,38,30.0,15.000000

In [45]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_con_pre = scaler.fit_transform(x_con)
x_con_pre

array([[-0.48578741, -0.37572014, -0.28246529, ..., -0.61043588,
        -0.45219708, -1.03301503],
       [ 1.38801699,  1.49784409,  1.53140881, ..., -0.29850985,
         0.73809027,  0.3966429 ],
       [ 1.00865782,  0.99822696,  0.94805231, ..., -0.61043588,
         0.05792607,  0.03922842],
       ...,
       [ 0.66378585,  0.39452293,  0.16416702, ..., -0.9223619 ,
        -0.62223813,  0.3966429 ],
       [ 0.53733279,  0.33207079,  0.14593713, ..., -0.61043588,
         0.56804922,  0.03922842],
       [ 0.88220476,  0.7484184 ,  0.60168439, ..., -0.29850985,
         0.73809027,  0.3966429 ]])

In [46]:
cols_con = scaler.get_feature_names_out()
cols_con

array(['Min.Price', 'Price', 'Max.Price', 'MPG.city', 'MPG.highway',
       'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile',
       'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn.circle', 'Rear.seat.room', 'Luggage.room'], dtype=object)

In [47]:
x_con_pre = pd.DataFrame(x_con_pre,columns=cols_con)
x_con_pre.head()

,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room
0,-0.485787,-0.375720,-0.282465,0.471312,0.360925,-0.841022,-0.073484,1.717489,1.129530,-1.062184,-0.083243,-0.427186,-0.286932,-0.366184,-0.610436,-0.452197,-1.033015
1,1.388017,1.497844,1.531409,-0.781032,-0.770514,0.515869,1.078322,0.369586,0.005661,0.409445,-0.083243,0.812171,1.629649,0.431983,-0.298510,0.738090,0.396643
2,1.008658,0.998227,0.948052,-0.423219,-0.581941,0.128186,0.540813,0.369586,-0.105713,0.072197,-0.083243,-0.220626,-0.286932,-0.632239,-0.610436,0.057926,0.039228
3,1.571949,1.893374,2.069191,-0.602126,-0.581941,0.128186,0.540813,0.369586,0.410659,1.359872,0.884457,0.674465,0.302785,0.165927,-0.610436,1.078172,1.111472
4,0.755752,1.091905,1.303535,-0.065407,0.172352,0.806631,1.231897,0.706562,0.430909,1.359872,-1.050944,0.192493,0.745073,-0.100128,0.013416,-0.282156,-0.318186

In [48]:
x_con_pre.mean()

Min.Price             9.908442e-17
Price                -1.719055e-16
Max.Price            -3.175477e-16
MPG.city             -2.709899e-16
MPG.highway          -1.790682e-18
EngineSize           -6.350953e-16
Horsepower            2.841216e-16
RPM                  -5.419798e-16
Rev.per.mile          3.792516e-16
Fuel.tank.capacity    1.313167e-16
Passengers            1.107239e-16
Length               -9.086220e-16
Wheelbase            -9.210076e-16
Width                 3.247104e-16
Turn.circle           1.083960e-15
Rear.seat.room        3.927563e-16
Luggage.room         -1.074409e-16
dtype: float64

In [49]:
x_con_pre.std()

Min.Price             1.00542
Price                 1.00542
Max.Price             1.00542
MPG.city              1.00542
MPG.highway           1.00542
EngineSize            1.00542
Horsepower            1.00542
RPM                   1.00542
Rev.per.mile          1.00542
Fuel.tank.capacity    1.00542
Passengers            1.00542
Length                1.00542
Wheelbase             1.00542
Width                 1.00542
Turn.circle           1.00542
Rear.seat.room        1.00542
Luggage.room          1.00542
dtype: float64

## Combine cat and con columns

In [50]:
X_pre = x_con_pre.join(x_cat_pre)
X_pre.head()

,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,...,Make_Toyota Camry,Make_Toyota Celica,Make_Toyota Previa,Make_Toyota Tercel,Make_Volkswagen Corrado,Make_Volkswagen Eurovan,Make_Volkswagen Fox,Make_Volkswagen Passat,Make_Volvo 240,Make_Volvo 850
0,-0.485787,-0.375720,-0.282465,0.471312,0.360925,-0.841022,-0.073484,1.717489,1.129530,-1.062184,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.388017,1.497844,1.531409,-0.781032,-0.770514,0.515869,1.078322,0.369586,0.005661,0.409445,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.008658,0.998227,0.948052,-0.423219,-0.581941,0.128186,0.540813,0.369586,-0.105713,0.072197,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.571949,1.893374,2.069191,-0.602126,-0.581941,0.128186,0.540813,0.369586,0.410659,1.359872,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.755752,1.091905,1.303535,-0.065407,0.172352,0.806631,1.231897,0.706562,0.430909,1.359872,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Train Test Split
1. 80% Training
2. 20% Testing ( Unseen Data )

In [51]:
from sklearn.model_selection import train_test_split

In [52]:
xtrain,xtest,ytrain,ytest = train_test_split(X_pre,Y,test_size=0.2,random_state=21)

In [53]:
xtrain.head()

,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,...,Make_Toyota Camry,Make_Toyota Celica,Make_Toyota Previa,Make_Toyota Tercel,Make_Volkswagen Corrado,Make_Volkswagen Eurovan,Make_Volkswagen Fox,Make_Volkswagen Passat,Make_Volvo 240,Make_Volvo 850
57,1.365026,1.289670,1.185041,-0.423219,-0.016221,-0.356418,-0.265452,-0.304365,0.187910,-0.663618,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31,-1.003095,-0.979424,-0.911397,0.113500,0.172352,-0.841022,-0.323043,2.054464,0.157535,-1.062184,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
62,0.606307,0.685966,0.729294,-0.781032,-0.959087,0.322027,1.116716,1.212025,-0.247462,0.716035,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,0.043016,-0.021825,-0.063707,-0.423219,-0.204794,0.806631,1.347077,0.875050,-0.713210,0.409445,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51,1.985795,1.726835,1.449374,-0.781032,-0.581941,1.872759,1.270290,-1.146804,-0.996708,1.022624,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [54]:
xtrain.shape

(74, 257)

In [55]:
xtest.head()

,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,...,Make_Toyota Camry,Make_Toyota Celica,Make_Toyota Previa,Make_Toyota Tercel,Make_Volkswagen Corrado,Make_Volkswagen Eurovan,Make_Volkswagen Fox,Make_Volkswagen Passat,Make_Volvo 240,Make_Volvo 850
23,-1.003095,-0.854520,-0.701753,0.113500,-0.016221,-0.453339,-0.975733,-0.809828,0.532158,-0.816912,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
86,0.203957,0.332071,0.428500,-0.781032,-1.336233,-0.259498,-0.111878,-0.472853,0.370159,0.961306,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
91,0.537333,0.332071,0.145937,-0.244313,-0.204794,-0.356418,-0.572601,0.201098,-0.237337,-0.265051,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
21,1.422504,1.039862,0.692834,-0.423219,-0.581941,0.612789,0.060893,-0.809828,-1.108083,-0.203734,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.100495,-0.073868,-0.209546,-0.959938,-0.581941,2.260442,0.502419,-1.820755,-1.988953,1.942392,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [56]:
xtest.shape

(19, 257)

## Create linear Regression model

In [57]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(xtrain,ytrain)

LinearRegression()

In [58]:
# R2 score in training
model.score(xtrain,ytrain)

1.0

In [59]:
# R2 score in test
model.score(xtest,ytest)

0.9334302997720154

### Predict train and test result

In [60]:
y_pred_tr = model.predict(xtrain)
y_pred_ts = model.predict(xtest)

In [61]:
y_pred_tr[0:5]

array([[2920.],
       [2530.],
       [3730.],
       [3490.],
       [4055.]])

In [62]:
ytrain.head()

    Weight
57    2920
31    2530
62    3730
29    3490
51    4055

In [63]:
y_pred_ts[0:5]

array([[2569.68191327],
       [3620.30504479],
       [3042.86692549],
       [3335.5664273 ],
       [3968.45729197]])

In [64]:
ytest.head()

    Weight
23    2670
86    3785
91    2985
21    3570
17    3910

## Evaluae Model in train and test

In [65]:
def evaluate_model(xtrain, ytrain, xtest, ytest, model):
    ypred_tr = model.predict(xtrain)
    ypred_ts = model.predict(xtest)
    
    # Importing necessary metrics
    from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

    # Training Results
    tr_mse = mean_squared_error(ytrain, ypred_tr)
    tr_rmse = tr_mse**(1/2)
    tr_mae = mean_absolute_error(ytrain, ypred_tr)
    tr_r2 = r2_score(ytrain, ypred_tr)
    print('Training Results are :')
    print(f'MSE : {tr_mse:.2f}')
    print(f'RMSE : {tr_rmse:.2f}')
    print(f'MAE : {tr_mae:.2f}')
    print(f'R2 : {tr_r2:.4f}')
    
    print('\n*****************************************\n')
    
    # Testing Results
    ts_mse = mean_squared_error(ytest, ypred_ts)
    ts_rmse = ts_mse**(1/2)
    ts_mae = mean_absolute_error(ytest, ypred_ts)
    ts_r2 = r2_score(ytest, ypred_ts)
    print('Testing Results are :')
    print(f'MSE : {ts_mse:.2f}')
    print(f'RMSE : {ts_rmse:.2f}')
    print(f'MAE : {ts_mae:.2f}')
    print(f'R2 : {ts_r2:.4f}')

In [66]:
from PM7 import evaluate_model

In [67]:
evaluate_model(xtrain,ytrain,xtest,ytest,model)

Training Results are :
MSE : 0.00
RMSE : 0.00
MAE : 0.00
R2 : 1.0000

*****************************************

Testing Results are :
MSE : 24144.63
RMSE : 155.39
MAE : 115.95
R2 : 0.9334